/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}

.nav navbar-nav {
	text-align: center;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: black;
	position: absolute;
	color: white;
	right: 0;
	left: 0;
}

.navbar .nav {
	float: none;
	text-align: center;
}

.navbar .nav>li {
	float: none;
	display: inline-block;
}